:root {
  font-family: sans-serif;
  background: #000; 
  color: #ff3c00
} 
header, main {
  text-align: center;
}
header {
  margin-top: 100px
}
h1 {
  font-family: serif
}
table {
  margin: auto;
  margin-top: 10px;
}
model-viewer {
  margin: auto;
}
#total {
  font-size: 2em;
}
