<!DOCTYPE html>
<html lang="nb">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vetles Røtter</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="module" src="/static/model-viewer.min.js"></script>
    <script type="module" src="/static/p5.min.js"></script>
  </head>
  <body>
    <script type="module" src="/static/sketch.js"></script>
    {{if .IsVetle}}
    <p><a href="/vetle">Admin</a></p> 
    {{end}}
    <header>
      <h1>Vetles Røtter</h1>
    <model-viewer
      src="/static/vetle.glb"
      auto-rotate auto-rotate-delay="0" rotation-per-second="360deg"
      disable-zoom
      style="width:300px;height:300px;background:transparent">
    </model-viewer>

    </header>
    <main>
      <p>Vetle har spist {{.Total}} gulrøtter</p>
    </main>
  </body>
</html>
