<!DOCTYPE html>
<html lang="nb">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vetle ONLY</title>
  </head>
  <body>
    {{if .IsVetle}}
    <p><a href="/">Tilbake</a></p> 
    {{end}}
    <h1>Vetle-sone</h1>
      {{if .IsVetle}}
        <form method="post">
          <button name="intent" value="eatCarrot" type="submit">Spis gulrot</button>
        </form>
      {{else}}
        <p>Bevis at du er Vetle!</p>
        <form method="post">
          <input type="password" name="key" value=""> 
          <button name="intent" value="login" type="submit">Sjekk</button>
        </form>
      {{end}}
  </body>
</html>
